.page-enterprise {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f5f5f9;
  display: flex;
  flex-direction: column;

  .enterprise-title {
    font-size: 38px;
    background: #fff;
    text-align: center;
    font-weight: 500;
    height: 90px;
    line-height: 90px;
    position: relative;

    .add {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;
      height: 42px;
      line-height: 42px;
      font-size: 28px;
      padding: 0 6px; /*no*/
    }
    .add.am-button-active {
      position: absolute;
    }
  }

  .enterprise-list {
    flex: 1;
    margin: 24px;

    .am-list-body {
      border: none;
      background: unset;
      &:before,
      &:after {
        display: none !important;
      }

      .enterprise-item {
        margin-bottom: 12px;
      }
    }

    .am-list-footer {
      padding: 0;
    }
  }

  .operate {
    display: flex;
    justify-content: space-between;
    padding-top: 15px; /*no*/
    .am-button {
      height: unset;
      line-height: unset;
      font-size: 24px;
      padding: 6px 12px;
    }
  }
}
